@font-face {
    font-family: hackerFont;
    src: url(../../HACKED.ttf);
  }
h2{
    margin-left: 20px;
    font-family:  hackerFont;
}
#searchForm{
    width: 500px;
    height: 40px;
    margin: 100px;
    text-align: center;
    vertical-align: middle;
    color: midnightblue;
    font-size: 20px;
    font-family:  hackerFont;
}
input{
    font-family:  hackerFont;
}